@charset "UTF-8";

/* --------------------------------------------
1、字体大小
---------------------------------------------*/
$font-size-g: 0.12rem;
$header-system-title-font-size-g: 0.24rem; // 系统文字大小
$header-tool-icon-font-size-g: 0.24rem; // 顶部最右侧图标文字大小
$menu-item-font-size-g: 0.18rem;
$header-application-font-size-g: 0.2rem;
/* --------------------------------------------
2、基本颜色
---------------------------------------------*/
$color-white-g: #fff;
$color-blue-g: #4682B4;
$color-red-g: #B22222;
$color-orange-g: #FF8C00;
$color-green-g: #3CB371;
$color-gray-g: #808080;
$color-skyblue-g: #3388FF;
$color-dark-g: #223355;
/* --------------------------------------------
3、字体颜色
---------------------------------------------*/
$font-color-g: darken($color-white-g, 5%);
$font-color-white-g: $color-white-g;
$font-color-gray-g: darken($color-gray-g, 10%);
$font-color-blue-g: #4ABDF4;

$header-title-color-g: #ffffff;// $color-white-g; // 顶部文字颜色

$font-color-1-g                 : var(--text-color-1, #5E6572); /*面包屑字体颜色*/
$font-color-2-g                 : var(--text-color-2, #626262); /*菜单颜色*/
/* --------------------------------------------
4、背景颜色
---------------------------------------------*/
$header-background-color-linear-gradient-start-g: #4860E6;
$header-background-color-linear-gradient-end-g: #3388FF;

$header-user-icon-background-g: #ffffff; // 用户图像背景颜色
$menu-background-color-g: #223355;
$menu-item-background-color-g: #384766;
$menu-item-active-background-color-g: #3388FF;
/* --------------------------------------------
5、高度 和 宽度
---------------------------------------------*/
$header-height-g: 0.6rem; // 顶部工具栏高度
$menu-width-g: 2.3rem; // 菜单栏的宽度 （200px~240px）
$menu-collapsed-width-g: 0.6rem; // 菜单栏收起来的宽度
$menu-collapse-section-height-g: 0.4rem; // 菜单顶部插槽高度
$menu-collapse-icon-font-size-g: 0.18rem; // 菜单顶部插槽图标大小
$menu-item-height-g: 0.6rem;
$menu-item-icon-font-size-g: 0.24rem;

$header-system-icon-width-g: 0.54rem; // 标题左侧图标宽度
$header-system-icon-height-g: 0.37rem;// 标题左侧图标高度
$header-system-icon-margin-right-g: 0.1rem;

$header-user-margin-left-g: 0.15rem;
$header-user-margin-right-g: 0.2rem;
$header-user-image-width-g: 0.4rem;
$header-user-image-height-g: 0.4rem;

/* --------------------------------------------
6、间距
---------------------------------------------*/
$header-padding-left-g: 0.3rem; // 左内边距
$header-padding-right-g: 0.2rem; // 右内边距
$menu-collapse-section-padding-left: 0.15rem;